button {
  /* background-color: aquamarine; */
  /* margin-right: 20px; */
  font-family: "Quicksand", sans-serif;
  margin: 5px;
  display: inline-block;
  font-weight: 600;
  border-radius: 10px;
  border-width: 0px;
  padding: 5px 9px;

  /* background-color: antiquewhite; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  box-shadow: 0 4px 4px 0 rgba(67, 67, 67, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.flex-container:hover {
  color: "#215f8b";
}

.dataGrid {
  padding-left: 10px;
  padding-right: 10px;
  border-color: red;
}
.Toastify__toast-body {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
.flex-container {
  padding: 1% 0;
}
